:root {
    --main-bg-color: #41B3A3;
    --secondary-bg-color: #b34151;
    --own-black-color: #567;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--own-black-color);
    margin: 0;
    padding: 0;
    margin-bottom: 150px;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    /* Set the fixed height of the footer here */
    /* Vertically center the text there */
}

/*
.wrapper {
    min-height: 100%;
    height: auto !important;
   
    position: relative;
}

.content {
    height: 100%;
    padding-bottom: 10%;
}

.myfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}*/

.primaryColor {
    background-color: var(--main-bg-color);
}

.secondaryColor {
    background-color: var(--secondary-bg-color);
}

.primaryButton {
    background-color: var(--main-bg-color);
    color: white !important;
}

.primaryButton:active, .primaryButton:focus, .primaryButton:hover {
    background-color: var(--secondary-bg-color);
    color: white ;
}

.mainButton {
    border-radius: 0.25rem !important;
    border-color: var(--own-black-color);
    border: 1;
    color: var(--own-black-color);
}

.mainButton:hover {
    border-color: var(--secondary-bg-color);
    color: var(--secondary-bg-color);
}

.borderSecondaryColor {
    border-color: var(--secondary-bg-color) !important;
}

.fontSecondaryColor {
    color: var(--secondary-bg-color);
}

.navbar a {
    color: white;
}
.dropdown-menu-anna a{

    color: var(--main-bg-color) !important;
}

.navbar a:hover {
    color: var(--secondary-bg-color);
    border-color: var(--secondary-bg-color) !important;
}

.footer div {
    color: white;
}

.footer div a {
    color: white;
}

.card-center-footer {
    text-align: center;
}

.card-to-hover:hover .card-footer {
    background-color: var(--main-bg-color) !important;
    color: white ! important
}