:root {
    --main-bg-color: #41B3A3;
    --secondary-bg-color: #b34151;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #567;
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    /* real browsers */
    position: relative;
}

.content {
    height: 100%;
    padding-bottom: 10%;
}

.myfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.primaryColor {
    background-color: var(--main-bg-color);
}

.secondaryColor {
    background-color: var(--secondary-bg-color);
}

.borderSecondaryColor {
    border-color: var(--secondary-bg-color) !important;
}

.fontSecondaryColor {
    color: var(--secondary-bg-color);
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: var(--secondary-bg-color);
}

.myfooter div {
    color: white;
}

.myfooter div a {
    color: white;
}

.card-center-footer {
    text-align: center;
}

.card-to-hover:hover .card-footer {
    background-color: var(--main-bg-color) !important;
    color: white ! important
}