{{ form_start(form) }}
    
    <ul class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
