{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!
{% endblock %}

{% block body %}


	<div class="">
		<h1>Ma boutique</h1>
		<div class="row">
			<div class="col-md-6">
				<div class="card text-white primaryColor border rounded border-dark p-1">
					<h5 style="text-align:center">Mon stock</h5>
					<div class="row">
						<div class="col-md-6">
							<div>
								<a  class="text-white" href="{{path('product_custom_index')}}">Consulter mes produits
									<i></i>
								</a>
							</div>
							<div>
								<a class="text-white" href="{{path('product_new')}}">Créer un produit</a>
							</div>
						</div>
						<div class="col-md-6 fas fa-lg fa-4x fa-box"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="card text-white secondaryColor border rounded border-dark p-1">
					<h5 style="text-align:center">Mes commandes</h5>
					<div class="row">
						<div class="col-md-6">
							<div>
								<a class="text-white" href="{{path('myorder')}}">Consulter les commandes
								</a>
							</div>
						</div>
						<div class="col-md-6 fas fa-lg fa-4x fa-cubes "></div>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
