<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			{% include "header.html.twig" %}
			<div class="container content mt-5 mb-5">
				<div>
					{% block body %}{% endblock %}
				</div>
			</div>
			{% include "footer.html.twig" %}
		</div>
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
