<footer class="footer primaryColor mt-5 p-1">
	<div class="container">
		<div class="">

			<h4><u>Me contacter</u></h4>

			<div>
				<i class="fas fa-at"></i>
				Pascalyut@gmail.com
			</div>
			<div>
				<i class="fas fa-phone"></i>
				06 50 58 69 59</div>
			<div>
				<a href="https://linkedin.com/in/pascal-yu-1b904215a" target="_blank">
					<i class="fab fa-linkedin"></i>
					Linkedin</a>
			</div>
			<div>
				<a href="https://github.com/pascalyu/" target="_blank">
					<i class="fab fa-github"></i>
					Github</a>
			</div>

		</div>
	</div>
</footer>
